{% extends "base.html" %}

{% block title %}Perfil{% endblock %}

{% block content %}
  <h1>Editar Perfil</h1>

  <form method="POST" action="{{ url_for('auth.profile') }}">
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.sexo.label }}<br>
      {{ form.sexo(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.altura.label }}<br>
      {{ form.altura(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.peso.label }}<br>
      {{ form.peso(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.fecha_nacimiento.label }}<br>
      {{ form.fecha_nacimiento(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.actividad.label }}<br>
      {{ form.actividad(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.formula_bmr.label }}<br>
      {{ form.formula_bmr(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.porcentaje_grasa.label }}<br>
      {{ form.porcentaje_grasa(class="form-control", placeholder="Ej: 15") }}
    </div>

    <div class="form-group">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for msg in messages %}
          <li>{{ msg }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endblock %}
